body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    height: auto;
    background: #fff;
    margin: 8px auto;
    border: 8px solid white;
    font-size: 16px;
  }
  
  .title {
    background: #e3f4ff;
  }
  
  .content {
    background: #e3f4ff;
    text-align: 16px 8px ;
  }
  
  .button-container {
    padding: 8px;
    background: #e3f4ff;
    margin-top: 8px;
    text-align: center;

  }
  
  button {
    background: white;
    border: 1px solid #eee;
    margin: 0 auto;
    display: block;
  }